.wd-address-btn {
  background: transparent;
  font-size: 14px;
  border: none;
}

.wd-search {
  color: black;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #FF9900;
}

