.wd-font-17{
  font-size: 17px;
  color: white;
}

.wd-font-13{
  font-size: 13px;
  color: #dddddd;
}

.wd-font-color{
  color: lightgrey;
}

.wd-border{
  border-radius: 5px;
}
.wd-order{
  font-size: 20px;
  margin-bottom: 3px;
}